<div class="container">
    <h1><p class="text-center">About</P></h1>

    <P>ながのCAKEは全国発送可能なケーキ屋さんです。</P>
    <P>お子様からお年寄りの方までお召し上がりいただけるよう、</P>
    <P>様々なバリエーションをご用意しております。</P>
    <P>また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</P>
    <P>是非ご注文ください。</P>

</div>

